QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=
QINIU_DOMAIN=https://cdn.example.com
QINIU_REGION=z0
QINIU_DEFAULT_PATH=autoforge/
QINIU_UPLOAD_URL=https://up-z2.qiniup.com
AUTOFORGE_CLOUDBASE_PUBLISHABLE_KEY=
